<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Fuente Balsamiq -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
</head>
<body>
        <div>
            <div>
                <h1>Bienvenido {{user.first_name}}</h1>
                <p>There are some recipes</p>
            </div>
            <div>
                <a href="/recipes">Create</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <!-- Recetas -->
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Under 30 Minutes?</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in recipes %}
                        <tr>
                            <td>{{recipe.name_recipe}}</td>
                                    {% if recipe.preparation_time < 30 %}
                                        <td>Yes</td>
                                    {% else %}
                                        <td>No</td>
                                    {% endif %}
                                <td>
                                <a href="/recipe/{{recipe.id}}">View Instructions</a>
                                    {% if recipe.user_id == session.user_id %}
                                        <a href="/edit/recipe/{{recipe.id}}">Edit</a>
                                        <a href="/delete/recipe/{{recipe.id}}">Delete</a>
                                    {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div>
        </div>
</body>
</html>