<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Fuente Balsamiq -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <main class="create-recipe">
        <div class="header">
            <h1>Editar receta</h1>
        </div>
        <div class="options">
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <!-- Alerta flash -->
        {% with messages = get_flashed_messages(category_filter=['recipe']) %}
            {% if messages %}
            <div class="alert">
                <strong>
                {% for message in messages %}
                    <p>{{message}}</p>
                </strong>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <form action="/update/recipe" method="POST">
            <!-- Columna 1 -->
            <div class="recipe-card">
                <!-- Valor hidden para conexion con módulo -->
                <input type="hidden" name ="id" value = {{edit.id}}>
                <div class="field">
                    <label>Name:</label>
                    <input type="text" name="name_recipe" id="name_recipe" placeholder="{{edit.name_recipe}}">
                </div>
                <div class="field">
                    <label>Description:</label>
                    <textarea name="description" id="description">{{edit.description}}</textarea>
                </div>
                <div class="field">
                    <label>Preparation time:</label>
                    <input type="number" name="preparation_time" id="preparation_time" placeholder="{{edit.preparation_time}}">
                </div>
                <div class="field">
                    <label>Instructions</label>
                    <textarea name="instructions" id="instructions">{{edit.instructions}}</textarea>
                </div>
            </div>
            <!-- Columna 2 -->
            <div>
                <div class="field">
                    <label>Date made on:</label>
                    <input type="date" name="created_at" id="created_at" placeholder="{{edit.created_at}}">
                </div>
            </div>
            <button type="submit">Update</button>
        </form>
    </main>
    

</body>
</html>